*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    gap: 10px;
}
.box1{
    background-color: green;
grid-column: 1/2;
grid-row: 1/4;
}
.box2{
    background-color: green;
    grid-column: 2/4;
    
}
.box3{
    background-color: red;
}
.box4{
    background-color: orange;
}
.box5{
    background-color: red;
}
.box6{
    background-color: green;
    grid-column: 4/5;
    grid-row: 2/4;
}
.box7{
    background-color:red;
}
.box8{
    background-color: orange;
}