*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;

}
.box1{
    background-color: cornflowerblue;
    grid-column: 1/3;
}
.box2{
    background-color:darkred;
    grid-column: 3/4;
    grid-row: 1/3;
}
.box3{
    background-color: burlywood;
    grid-column: 1/2;
    grid-row: 2/4;
}
.box4{
    background-color: aquamarine;
    grid-column: 2/3;
    grid-row: 2/3;
}
.box5{
    background-color: chartreuse;
    grid-column: 2/4;

}