*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    display: grid;
    background-color: blueviolet;
    height: 800px;
    gap: 20px;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;

}
.box{
    background-color: orange;
    color: blue;
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    padding-top: 40px;
}