*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 500px;

}
.box1{
    background-color: yellow;

}
.box2{
    background-color: blueviolet;

}
.box3{
    background-color: blue;

}
.box4{
    background-color: brown;
}