*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxs{
    display: grid;
    height: 400px;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.box{
    background-color: black;
    border-radius: 10px;
}